<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="1.5.45.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.Ultimate" version="4.3.4.13329" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.5.1.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="NHibernate" version="4.0.2.4000" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2939" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Authentication.LightSpeed" version="0.4.0.0" targetFramework="net45" />
  <package id="ServiceStack.Authentication.MongoDB" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Authentication.NHibernate" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Authentication.OAuth2" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Authentication.OpenId" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Authentication.RavenDB" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Caching.AwsDynamoDb" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Caching.Azure" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Caching.Memcached" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Razor" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Server" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net45" />
</packages>